body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    margin-top: 50px;
}

.banner-img img{
    width: 600px;
}

.volkhov{
    font-family: 'Poppins', sans-serif;
    font-family: 'Volkhov', serif;
    font-size: 84px;
    color: #181E4B;
}

.category-hover:hover{
    cursor: pointer;
} 


  .advertise{
      margin-top: 200px;
  }
  .advertise-hover:hover{
    transform:rotateX(360deg);
    transition:1.5s;
  }
  .advertise-hover:hover img{
    transform: scale(1.2);
    transition:0.5s linear 1.5s;
  }
  .footer-anchor p a{
      text-decoration: none;
      color: #0c1b8a;
  }
  .footer-anchor h3{
      font-weight: bold;
  }
  .footer-anchor h1{
      font-size: 80px;
      font-weight: bolder;
  }
  .footer-anchor a i{
      font-size: 50px;
      margin-left: 10%;
      color: tomato;
  }
  .footer-anchor a i:hover{
      transform: scale(1.2);
      transition: 0.5s;
      color: teal;
  }


 @media only screen and (max-width: 767px) { 
    
    .volkhov{
        font-size: 30px;  
    }
    .banner{
        text-align: center;
    }
    .banner-img img{
        width: 350px;
        margin-top: 60px; 
        opacity: 0.1;
    }
    .banner-img{
        position: absolute;
        z-index: 5;  
    }
    .banner-text{
        position: relative;
        z-index: 20;
    }
    .footer-anchor{
        text-align: center;
    }
    .footer-anchor a i{
      font-size: 50px;
      margin-left: 2%;
      margin-right: 2%;
      color: tomato;
  }
    
  } 
  @media only screen and (min-width: 768px) and (max-width: 1023px) {

    .banner-img img{
        width: 500px;
        margin-top: 60px; 
        opacity: 0.3;
    }
    .banner-img{
        position: absolute;
        z-index: 5;  
    }
    .banner-text{
        position: relative;
        z-index: 20;
    }
    .footer-anchor{
        text-align: center;
    }
    .footer-anchor a i{
      font-size: 50px;
      margin-left: 2%;
      margin-right: 2%;
      color: tomato;
  }

  }